body {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	height: auto;
}
<div style="display: flex; justify-content: center;">
  <iframe width="364" height="1620" src="https://www.youtube.com/embed/EnI4pl9WW5A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

